.DS_Store
.gradle
build/
/gradlenPerusteita/.nb-gradle/
/HelloCucumber/.nb-gradle/
/LoginCucumber/.nb-gradle/
/TyhjaProjekti/.nb-gradle/
/WebLogin/.nb-gradle/
/MockitoDemo/.nb-gradle/
/MatkakorttiMockito/.nb-gradle/